<%= form_with scope: :sent_email, url: sent_emails_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :email_template %><br>
    <% options = options_from_collection_for_select(@email_template, 'id', 'subject', 1) %>
    <%= form.select :all_val,  options %>
  </p>

  <p>
    <%= form.label :subject %><br>
    <%= form.text_field :subject , :value => 'place holder'  %>
  </p>

  <p>
    <%= form.label :message_preview %><br>
    <%= form.text_area :message_preview, :value => 'place holder' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
