<%= form_with scope: :sent_email, url: sent_emails_path do |form| %>
  <p>
    <%= form.label :name  %><br>
    <%= form.text_field :name , :required => true %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email , :required => true %>
  </p>

  <p>
    <%= form.label :email_template %><br>
    <%= form.select :email_template_id,  options_for_select(@email_templates.collect { |template|
      [template.subject, template.id]}, 1), {}, {id:'template_select'} %>
  </p>

  <p id="subject_field">
    <%= form.label :subject %><br>
    <%= form.text_field :subject , :value => @selected_template.subject , :required => true %>
  </p>

  <p  id="message_field">
    <%= form.label :message_preview %><br>
    <%= form.text_area :message_preview, :value => @selected_template.body , :required => true %>
  </p>

  <p>
    <%= form.submit 'Send Email' %>
  </p>
<% end %>
