<%= form_with scope: :sent_email, url: {action:"create"}, local: true do |form| %>
  <p>
    <%= form.label :name  %><br>
    <%= form.text_field :name , :required => true %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email , :required => true %>
  </p>

  <p>
    <%= form.label :email_template %><br>
    <%= form.select :email_template_subject,  options_for_select(@email_templates.collect { |template|
      [template, template]}, 1), {:prompt => "Select a Email Template..."}, {id:'template_select'} %>
  </p>

  <p id="subject_field">
    <%= form.label :subject %><br>
    <%= form.text_field :subject , :required => true %>
  </p>

  <p  id="message_field">
    <%= form.label :message_preview %><br>
    <%= form.text_area :message_preview, :required => true %>
  </p>

  <p>
    <%= form.submit 'Send Email' %>
  </p>
<% end %>
