<p>
  <%= fields_for :sent_email do |subject| %>
  <%= subject.label :subject %><br>
  <%= subject.text_field :subject , :value => @selected_template.subject , :required => true %>
  <% end %>
</p>

<p>
  <%= fields_for :sent_email do |message_preview| %>
  <%= message_preview.label :message_preview %><br>
  <%= message_preview.text_area :message_preview, :value => @selected_template.body , :required => true %>
  <% end %>
</p>
